result {
    width: 30%;
    height: 30px;
    border: 1px solid skyblue;
    border-radius: 5px;
    box-shadow: 2px 2px #c51f5d;
    padding: 10px;
    margin-top: 5px;
}
.container{
  background-image: none;
  width: 1000px;
  border-radius: 30px;
  border: 3px solid white;
  padding: 10px;
  box-shadow: 0 0 10px #6f87df;
}

}
.lgot{
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s;

}
.lgot:hover
{
  color: #d3dde3;
  background: #6213c7;
  box-shadow: 0 0 5px  #6213c7,0 0 20px  #6213c7,0 0 20px  #6213c7;
  
}

.btn-1:hover
{
  color: #d3dde3;
  background: #2196f3;
  box-shadow: 0 0 5px #2196f3,0 0 20px #2196f3,0 0 20px #2196f3;
  
}
.btn-1 {
            background: linear-gradient(45deg, #692fdd, #2f92dd);
            color: white;
            padding: 15px 25px;
            box-shadow: 0 0 10px black;
            border: 1px solid white;
            outline: none;
        }

        .btn-11 {
            border-radius: 50px;position: relative;
            display: inline-block;
            padding: 15px 20px;
            margin: 10px; 
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 10px;
            overflow: hidden;
            transition: 0.2s;
          }